<div class="container">
  <h3>みんなの呟きを見に行く</h3>
  <div><%= "#{@Date.month}月"%></div>
  <div>
    <% @month_range.each do |day| %>
      <span style="display:inline-block;"><%= day.to_s + "日" %></span>
    <% end %>
  </div>
  <div>
    <% @users.each do |user| %>
      <%= link_to "#{user.name}", "/users/#{user.id}"  %><br />
    <% end %>
  </div>
</div>
